<mat-toolbar color="primary" class="mat-toolbar-single-row">
  <span>
    Gestion Formation
  </span>

  <span class="space-buttons"></span>
  <button mat-icon-button color="accent" routerLink="/login" *ngIf="!isLoggedIn()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-icon-button color="warn">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button class="home-button" mat-raised-button color="primary" routerLink="/home">
    Home
  </button>
  <button *ngIf="isAdmin()" class="home-button" mat-raised-button color="primary" routerLink="/addFormateur">
    AddNewFormateur
  </button>
  <button *ngIf="isAdmin()" class="home-button" mat-raised-button color="primary" routerLink="/allFormateur">
    Show Formateurs
</button>
<button *ngIf="isAdmin()" class="home-button" mat-raised-button color="primary" routerLink="/addformation">
    Add formation
</button>
</mat-toolbar>
