

<div class="centered-container">
  <section class="banner">
    <div class="banner-wrapper-main"></div>
    <div class="container">
      <div class="row">
        <div class="slider-wrapper">
          <div class="box-01">
            <div class="content">
              <h1>ÉLARGISSEZ VOS CONNAISSANCES AVEC DES TUTEURS</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quasi laborum deserunt necessitatibus.
                Earum excepturi nobis,v
                reprehenderit deserunt minima, veniam omnis libero, debitis fugiat autem alias eos architecto? In, eos!</p>

              <div class="btn-001">
                <ul>
                  <li><a href="#">COMMENCEZ MAINTENANT</a></li>
                  <li><a href="javascript:void(0)" (click)="toggleShowAllCourses()">VOIR LES COURS</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box-01">
            <div class="slider-image">
              <img src="../../../assets/images/slider/1.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="centered-container">
  <form [formGroup]="filterForm" (ngSubmit)="filterFormations()">
    <div class="horizontal-form-group">
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Categorie</mat-label>
          <mat-select formControlName="categorie" placeholder="Categorie">
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Ville</mat-label>
          <mat-select formControlName="ville" placeholder="Ville">
            <mat-option *ngFor="let city of villes" [value]="city">{{ city }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-stroked-button color="primary" type="submit">Filtrer les formations</button>
    </div>
  </form>
</div>
<div class="centered-container">
  <div class="formation-container">
    <div *ngIf="showAllCourses; else filteredCourses">
      <div class="formation-card" *ngFor="let formation of formations" (click)="showDetails(formation)">
        <h2>{{ formation.nom }}</h2>
        <img [src]="formation.photos" alt="{{ formation.nom }} Image" class="formation-image">
        <p>Durée : {{ formation.nombreHeur }} heures</p>
        <p>Date : {{ formation.date | date: 'shortDate' }}</p>
        <p>Ville : {{ formation.ville }}</p>
        <p>Prix : {{ formation.cout }} dh</p>
        <button mat-raised-button color="primary" [routerLink]="['/formationdetails']"
                [queryParams]="{
                  id: formation.id,
                  nom: formation.nom,
                  nombreHeur: formation.nombreHeur,
                  programme: formation.programme,
                  categorie: formation.categorie,
                  cout: formation.cout,
                  objectifs: formation.objectifs,
                  ville: formation.ville,
                  date: formation.date,
                  photos: formation.photos
                }">
          Voir plus de détails
        </button>
      </div>
    </div>
    <ng-template #filteredCourses>
      <div class="formation-cards" *ngFor="let formation of filteredFormations" (click)="showDetails(formation)">
        <div class="formation-card">
        <h2>{{ formation.nom }}</h2>
        <img [src]="formation.photos" alt="{{ formation.nom }} Image" class="formation-image">
        <p>Durée : {{ formation.nombreHeur }} heures</p>
        <p>Date : {{ formation.date | date: 'shortDate' }}</p>
        <p>Ville : {{ formation.ville }}</p>
        <p>Prix : {{ formation.cout }} dh</p>
        <button mat-raised-button color="primary" [routerLink]="['/formationdetails']"
                [queryParams]="{
                  id: formation.id,
                  nom: formation.nom,
                  nombreHeur: formation.nombreHeur,
                  programme: formation.programme,
                  categorie: formation.categorie,
                  cout: formation.cout,
                  objectifs: formation.objectifs,
                  ville: formation.ville,
                  date: formation.date,
                  photos: formation.photos
 }">
          Voir plus de détails
        </button>
      </div>
    </div>
  </ng-template>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsPerPage" [pageIndex]="pageNumber"
              [length]="totalItems" (page)="loadPage($event)">
</mat-paginator>


<section class="bg-01">
  <div class="container">
      <div class="row">
          <div class="heading">
              <h2>Catégorie Populaire</h2>
              <span></span>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/design.png">
                              <h3>{{ formations[0]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                               Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>

                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/coin.png">
                              <h3>{{ formations[1]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/budget.png">
                              <h3>{{ formations[2]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/monitor.png">
                              <h3>{{ formations[3]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/art.png">
                              <h3>{{ formations[4]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/mail.png">
                              <h3>{{ formations[5]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/photo.png">
                              <h3>{{ formations[6]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/gym.png">
                              <h3>{{ formations[7]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
          
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-box">
                  <div class="my-card">
                      <ul>
                          <li>
                              <img src="../../../assets/images/icons/account.png">
                              <h3>{{ formations[8]?.categorie }}</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                  Facilis molestias excepturi fugit, similique laborum necessitatibus?</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bg-02">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
              <div class="cal-box">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     Distinctio obcaecati modi itaque? Molestiae veniam iste 
                     totam eaque reprehenderit. Animi ametquos commodi nostrum 
                     ad corporis earum architecto omnis aspernatur ipsum!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Distinctio obcaecati modi itaque? Molestiae veniam iste
                        totam eaque reprehenderit. Animi ametquos commodi nostrum
                        ad corporis earum architecto omnis aspernatur ipsum!</p>

                        <ol>
                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting">{{ nombreFormationsPlanifiees }}</div>
                                    <h5>Formations Planifiées</h5>
                                  </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" data-count="130">{{totalIndividu}}</div>
                                    <h5>Student Learning</h5>
                                </div>
                            </li>

                            <li>
                                <div class="_lk_bg_cd">
                                    <div class="counting" data-count="20">200</div>
                                    <h5>Free Cources</h5>
                                </div>
                            </li>
                        </ol>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <div class="cal-box">
                <img src="../../../assets/images/slider/2.png">
            </div>
          </div>
      </div>
  </div>
</section>

  <!-- ================**Team Section**================ -->

  <section class="bg-03">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>our team</h2>
                <span></span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="team-main-box">
                    <img src="../../../assets/images/team/2.jpg">
                    <div class="team-content-box">
                        <h3>{{nomFormateur[0]}}</h3>
                        <b>Designer</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="team-main-box">
                    <img src="../../../assets/images/team/4.jpg">
                    <div class="team-content-box">
                        <h3>{{nomFormateur[1]}}</h3>
                        <b>Dveloper</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="team-main-box">
                    <img src="../../../assets/images/team/3.jpg">
                    <div class="team-content-box">
                        <h3>{{nomFormateur[2]}}</h3>
                        <b>SEO</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="team-main-box">
                    <img src="../../../assets/images/team/1.jpg">
                    <div class="team-content-box">
                        <h3>{{nomFormateur[3]}}</h3>
                        <b>Art Designer</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ================**Blog Section**================ -->

<section class="bg-04">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>our news</h2>
                <span></span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <article class="blog-sub">
                    <div class="blog-content">
                        <img src="../../../assets/images/blog/img-02.jpg">
                    </div>
                    <div class="blog-content-section">
                        <div class="blo-content-title">
                            <h4>The National Minimum Wage Is An Important Part</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                        </div>
                        <div class="blog-admin">
                            <ol>
                                <li><i class="fal fa-user-tie"></i> By Admin</li>
                                <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                            </ol>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <article class="blog-sub">
                    <div class="blog-content">
                        <img src="../../../assets/images/blog/img-03.jpg">
                    </div>
                    <div class="blog-content-section">
                        <div class="blo-content-title">
                            <h4>The National Minimum Wage Is An Important Part</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo
                                fugit
                                animi assumenda.</p>
                        </div>
                        <div class="blog-admin">
                            <ol>
                                <li><i class="fal fa-user-tie"></i> By Admin</li>
                                <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                            </ol>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <article class="blog-sub">
                    <div class="blog-content">
                        <img src="../../../assets/images/blog/img-01.jpg">
                    </div>
                    <div class="blog-content-section">
                        <div class="blo-content-title">
                            <h4>The National Minimum Wage Is An Important Part</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo
                                fugit
                                animi assumenda.</p>
                        </div>
                        <div class="blog-admin">
                            <ol>
                                <li><i class="fal fa-user-tie"></i> By Admin</li>
                                <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                            </ol>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
</div>
