/* formateur-edit-dialog.component.css */
.form-dialog {
    text-align: center;
  }
  
  .form-container {
    display: inline-block;
    text-align: left;
  }
  .full-width {
    width: 100%;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button,
  .button-container a {
    margin: 0 5px; /* Ajoutez une marge pour séparer les boutons */
  }
  