.formation-details-container {
 
 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.formation-image {
  max-width: 100%; /* Ajustez la taille selon vos besoins */
  height: 80px;
  margin-top: 10px; /* Espacement entre l'image et les autres détails */
}
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Ajoutez d'autres styles personnalisés au besoin */
