.login-container {
  background: url('../../../assets/images1/login.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .text-center {
    text-align: center;    
  }
  
  .card h2 {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .mat-form-field input {
    width: calc(100% - 2 * 16px);
  }
  
  .login-button,
  .create-account-button {
    margin-top: 10px;
  }
  
  /* Ajoutez ces styles pour gérer les erreurs de validation */
  .error-field {
    border-color: #ff0000; /* Couleur de la bordure en cas d'erreur */
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .error-field-password {
    border-color: #ff0000;
  }
  
  .error-message-password {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
  }
  
  