<footer>
    <style>
        .proexcel {
          font-family: 'Arial', sans-serif;
          font-size: 40px;
          font-weight: bold;
          display: inline-block;
          margin-top: 5px;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          animation: backgroundAnimation 5s infinite; /* 5s pour la durée de l'animation, infinite pour la boucle */
        }
        .mat-icon {
         width: 40px;
         height: 40px;
         font-size: 40px;
        }
      </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="_kl_ds_we">
                    <div class="head-footer">
                        <span id="menuTitle" class="proexcel"><mat-icon id="mat-icon">school</mat-icon>
                            ProExcel</span> 
                        <ol>
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-twitter-square"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="_kl_ds_we">
                    <div class="head-footer">
                        <h3>Services</h3>
                        <ul>
                            <li><i class="fas fa-chevron-right"></i>Development</li>
                            <li><i class="fas fa-chevron-right"></i>Busniess</li>
                            <li><i class="fas fa-chevron-right"></i>Accounting</li>
                            <li><i class="fas fa-chevron-right"></i>Arts & Design</li>
                            <li><i class="fas fa-chevron-right"></i>Marketing</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="_kl_ds_we">
                    <div class="head-footer">
                        <h3>Liens</h3>
                        <ul>
                            <li><i class="fas fa-chevron-right"></i>Accueil</li>
                            <li><i class="fas fa-chevron-right"></i>Connexion</li>
                            <li><i class="fas fa-chevron-right"></i>Rejoignez-nous</li>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="_kl_ds_we">
                    <div class="head-footer">
                        <h3>contactez nous</h3>
                        <ul class="un-hover">
                            <li><i class="far fa-location"></i>TETOUAN-MAROC                            </li>
                            <li><i class="fas fa-mobile-alt"></i>+212 706115539</li>
                            <li><i class="far fa-envelope"></i>fgestion371@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row _pl_we_sq">
                    <div class="col-12">
                        <div class="last-01">
                            <p>2024 @ All Rights Reserved   </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>